.idea
wp-admin
wp-includes
.htaccess
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
*.log
bs-config.js
*.source.map
phpcs.xml
phpstan.neon
!phpcs.xml.dist
!phpstan.neon.dist
package-lock.json
/node_modules
/vendor
/assets/dist
composer.lock